@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('Lobster.ttf') format('truetype');
}
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: italic;
  font-weight: 400;
  src: local('Sorts Mill Goudy Italic'), local('SortsMillGoudy-Italic'), url('SortsMillGoudy-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'), url('SortsMillGoudy-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url('UbuntuMono.ttf') format('truetype');
}
html {
  color: #3a4c4b;
  font-size: 16px;
  font-family: 'Sorts Mill Goudy', serif;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga" 1;
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "frac=1";
  -ms-font-feature-settings: "frac" 1;
}
section, p, h1, h2, h3, h4, h5, h6, ul, ol, pre, blockquote {
  border-radius: 10px;
  padding: 0 0 0 10px;
  margin: 10px 0;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  min-height: 1em;
}
section {
  border-left: 5px solid #d8d8d0;
  min-height: 10px;
  border-top: 1px dashed #d8d8d0;
  border-bottom: 1px dashed #d8d8d0;
  border-right: 1px dashed #d8d8d0;
}
.active {
  border-left: 7px solid #4a4c3b;
}
.active[contenteditable=true] {
  border-color: red;
}
.compact {
  max-height: 8em;
  box-shadow: inset 0 0 1em #e8e8e0;
  overflow: hidden;
  font-size: 10px;
}
.compact h1, .compact h2, .compact h3, .compact h4, .compact h5, .compact h6, .compact p, .compact ul, .compact ol, .compact pre, .compact section {
  font-size: 1em !important;
  text-indent: 0 !important;
  color: #a8a8a0 !important;
  border-left-width: 2px;
  border-radius: 4px;
  padding-left: 4px;
  margin: 2px 0;
  line-height: 1em;
  min-height: 1px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', serif;
  font-weight: normal;
}
h1 { font-size: 5em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }
h4 { padding: 0 16px; font-size: 1.5em; }
a { color: #983a5e; text-decoration: none; }

/*
p { text-indent: 1em; }
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, p:first-child { text-indent: 0; }
❡❦❖❝❞♯
*/
h1.active:after {
    content: ' ♯1';
}
h2.active:after {
    content: ' ♯2';
}
h3.active:after {
    content: ' ♯3';
}
h4.active:after {
    content: ' ♯4';
}
h5.active:after {
    content: ' ♯5';
}
h6.active:after {
    content: ' ♯6';
}
blockquote.active:after {
    content: ' ❞';
}
blockquote.active:before {
    content: '❝ ';
}
pre.active:after {
    content: ' ❖';
}
li.active:after {
    content: ' ❦';
}
p.active:after {
    content: ' ❡';
}

.active[contenteditable=true]:after, .active[contenteditable=true]:before {
    color: #d8d8d0;
}

ul, ol, p {
  line-height: 1.5em;
  /* max-width: 40em; */
  min-height: 1.5em;
  padding-right: 7px;
}
ul.active, ol.active, p.active {
    padding-right: 0px;
}
blockquote  {
  font-style: italic;
}
blockquote:before {
  display: inline;
  content: '❝';
}
blockquote:after {
  display: inline;
  content: '❞';
}
pre {
  padding-top: .25em;
  padding-bottom: .25em;
}
ul, ol {
    padding-left: 32px;
}
pre, code { 
  font-family: 'Ubuntu Mono', sans-serif;
  font-style: normal;
  font-size: .9em;
}
dt { font-style: italic; }

ul > li {
  display: list-item;
  list-style-position: outside;
  list-style-image: url('bullet.png');
}
ol > li {
}

li {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    padding-left: 0px;
}
li.active {
    padding-left: 10px;
    border-left-color: #d8d8d0;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 2px dashed #d8d8d0;
}
hr.active {
  border-left: none;
  border-color: #4a4c3b;
}
.todo {
  color: #924332;
}
.todo:before {
  content: 'TODO: ';
}
.cancelled {
  color: #c1c167;
}
.cancelled:before {
  content: 'CANCELLED: ';
}
.done {
  color: #74a44f;
}
.done:before {
  content: 'DONE: ';
}
.working {
  color: #e43847;
}
.working:before {
  content: 'WORKING ON: ';
}
.todo:before, .cancelled:before, .done:before, .working:before {
  font-family: 'Ubuntu Mono', sans-serif;
  font-weight: bold;
  font-size: .9em;
}
